{% extends 'layout.html' %}
{% block title %}File Info | MirrorManager{% endblock title %}
{% block h1title %}File Information for "{{ filename }}"{% endblock h1title %}
{% block css %}
<link rel="stylesheet" href="/Static/Styles/FileInfo.css">
{% endblock css %}
{% block content %}
 <table>
  <tr>
    <td>File Name: </td>
    <td>{{ filename }}</td>
  </tr>
  <tr>
    <td>Directory: </td>
    <td>{{ dir_path }}</td>
  </tr>
  <tr>
    <td>File Size: </td>
    <td>{{ file_size }}</td>
  </tr>
  <tr>
    <td>Mime Type: </td>
    <td>{{ media_type }}</td>
  </tr>
  <tr>
    <td>Last Modified Date: </td>
    <td>{{ modified_date }}</td>
  </tr>
  <tr>
    <td>Creation Date: </td>
    <td>{{ creation_date }}</td>
  </tr>
  <tr>
    <td>File sha256: </td>
    <td>{{ file_sha }}</td>
  </tr>
</table>
<br>
<a class="loginbutton" id="downloadLink" onclick="getDownloadLink()">Generate Download Link</a>
<a class="loginbutton" id="curlcommand" onclick="copyCurlCommand()" style="visibility: hidden;">Copy cURL Command</a>
<script>
        function getDownloadLink() {
        const requests = new XMLHttpRequest();
        if (!requests) {
          console.log('Failed to create XMLHttpRequest');
          return false;
        }
        requests.open('POST', `/API/v1/GUI/GetDownloadLink?file_path={{ dir_path + '/' + filename }}`);
        requests.send();
        requests.onreadystatechange = function() {
          if (requests.readyState === XMLHttpRequest.DONE) {
            if (requests.status === 200) {
              const downloadLink = document.getElementById('downloadLink');
              let responseLink = requests.responseText.replace(/['"]+/g, '');
              downloadLink.setAttribute("href", responseLink);
              downloadLink.onclick = null;
              downloadLink.textContent = 'GUI Download';
              const curlDownload = document.getElementById('curlcommand');
              curlDownload.setAttribute('style', 'visibility: visible;');
              curlDownload.setAttribute('data', responseLink);
            } else {
              console.log('Failed to Contact API. Check Status');
            }
          }
        }
    }
    function copyCurlCommand() {
        const curlDownload = document.getElementById('curlcommand');
        navigator.clipboard.writeText(curlDownload.data);
        curlDownload.textContent = 'Command Copied!';
    }
</script>
{% endblock content %}