{% extends 'layout.html' %}
{% block title %}GUIDownloads | MirrorManager{% endblock title %}
{% block h1title %}Download Started For "{{ filename }}"{% endblock h1title %}
{% block css %}
<link rel="stylesheet" href="/Static/Styles/Download/GUI.css">
{% endblock css %}
{% block content %}
<p>File Name: {{ filename }}</p>
<p>File Size: {{ file_size }}</p>
<br>
<div id="downloadProgress" class="progress" style="color:#000000;" data-label="Calling For Download Start...">
  <span class="value" id="downloadProgressValue" style="width:0%;" ></span>
</div>
<br>
<!--<p>Download Failed?</p>
<p>Check the knowledgebase for more help: <span><a href="/Help/Cant-Download-File-Through-GUI">Help</a></span></p> -->

<script src="/Static/Scripts/Download/GUIDownload.js"></script>
{% endblock content %}