{% extends 'layout.html' %}
{% block title %}List Directory | MirrorManager{% endblock title %}
{% block h1title %}Directory Listing of "{{ dir_path }}"{% endblock h1title %}
{% block content %}
<ul>
    {% for dir_listing in dir_list %}
    <li>
        <a href="{{ request.path + '?dir_path=' + dir_path + '/' +  dir_listing if dir_path != '/' else request.path + '?dir_path=' + dir_path + dir_listing }}">
            {{ dir_listing }}
        </a>
    </li>
    {% endfor %}
</ul>
<br>
<br>

{% endblock content %}