{% extends 'layout.html' %}
{% block title %}List Directory | MirrorManager{% endblock title %}
{% block h1title %}Search All Files in {{ search_action }}{% endblock h1title %}
{% block css %}
    <link rel="stylesheet" href="/Static/Styles/Search.css">
{% endblock css %}
{% block content %}
<div style="text-align: center">
    <div style="text-align: left; margin-left: 30px;">
        <form id="myForm">
            <label for="search_request">Search Input</label>
            <input name="search_request" id="search_request" placeholder="search_request" autocomplete="on" required="required">
            <br><button type="submit" class="loginbutton">Submit</button>
        </form>
    </div>
</div>

<div id="results"></div>

<script src="/Static/Scripts/Search/Search.js"></script>

<br>
<br>
{% endblock content %}
