{% extends 'administrator/layout.html' %}
{% block title %}Manage Git Repositories{% endblock title %}
{% block css %}
.overlay {
}
.overlaypage {
    margin: 1rem auto;
    width: 35em;
    height: auto;
    max-width: 95vw;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 15px;
    user-select: none !important;
}
.social {
    border: 1px solid #fff;
    width: 150px;
    padding: 7px 0;
}
.logo {
    margin-bottom: 10px;
    height: 100px;
}
main {
    border: 1px solid white;
    margin-bottom: 5px;
}
.link-list {
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}
.contact {
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
}
#social {
    cursor: pointer;
}
#close {
    cursor: pointer;
    font-size: 30px;
}
.icon {
    width: 100px;
}
.loginbutton {
    font-size: 15px;
    padding: 3px;
    margin-left: 10px;
    background-color:
    white; color: #181A1B;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 2px solid grey;
    cursor: pointer;
}
.loginbutton:hover {
    color: white;
    background-color: grey;
    border-top: 1px solid grey;
    border-bottom: 0px;
    -webkit-box-shadow: inset 0px 4px 0px 0px #0A0E12;
    -moz-box-shadow: inset 0px 4px 0px 0px #0A0E12;
    box-shadow: inset 0px 0px 4px 0px #0A0E12;
    cursor: pointer;
}
.loader {
    width: 50px;
}
table, th, td {
    border-radius: 10px;
    text-align:
}
table {
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid white;
    width: 100%;
}
.pointer {
    cursor: pointer;
}
#confirm_delete {
    font-size: 14px;
    padding: 0 9px;
    color: #fff;
}
{% endblock css %}
{% block h1title %}Manage Git Repository Mirrors{% endblock h1title %}
{% block content %}
    <div id="overlay">
        <div class="overlaypage">
            <div class="row" id="button-row">
                <div id="linklist">
                    <a class="loginbutton" id="clone" onclick="beginCloneRepoSequence()">Clone New Repo</a>
                    <a class="loginbutton" id="list" onclick="listReposScreen()">List Repos</a>
                    <a class="loginbutton" id="view" href="/Git">Visit Git Frontend</a>
                </div>
            </div>
            <div id="container"></div>
            <div class="row">
                <img id="loader" src="/static/imgs/loader.gif" alt="loader" style="display: none;" class="loader">
                <p id="textField"></p>

            </div>
        </div>
        <script>
                    function cloneGitRepoFormScreen() {
                        resetGitHome()
                        document.getElementById('clone').setAttribute("style", "display: none;");
                        let container = document.getElementById('container')
                        container.innerHTML = `
                        <div style="text-align: left; margin-left: 30px;">
                            <form method="post" action="/API/v1/ADMIN/CloneNewGitRepo">
                                <label for="git_endpoint">Git Endpoint</label>
                                <input name="git_endpoint" placeholder="Example: https://ttea.dev/t2v/mm" type="url">
                                <br><label for="monitor_repo">Monitor Repo?</label>
                                <input type="checkbox" name="monitor_repo" checked="checked" onchange="displayMonitorInterval(this.value)">
                                <br><label for="monitor_interval" id="monitor_interval">Monitor Interval (in hours)</label>
                                <input name="monitor_interval" placeholder="Example: 36" type="number" id="monitor_interval_input">
                                <br><button type="submit" class="loginbutton">Clone Repo</button>
                            </form>
                        </div>
                        `
                    }
                    function listReposScreen() {
                        resetGitHome()
                        document.getElementById('loader').setAttribute("style", "display: visible;")
                        const requests = new XMLHttpRequest();
                        if (!requests) {
                          console.log('Failed to create XMLHttpRequest');
                          return false;
                        }
                        requests.open('POST', `/API/v1/ADMIN/ListGitRepos`);
                        requests.send();
                        requests.onreadystatechange = function() {
                          if (requests.readyState === XMLHttpRequest.DONE) {
                            if (requests.status === 200) {
                              document.getElementById('loader').setAttribute("style", "display: none;");
                              document.getElementById('list').setAttribute("style", "display: none;");
                              let json_response = JSON.parse(requests.responseText);
                              if (json_response.code === 5001) {
                                  document.getElementById('textField').textContent = "There are currently no git repositories set up";
                              } else {
                                       let container = document.getElementById("container");
                                   for (let item of json_response) {
                                          let table = document.createElement("table");

                                          let row1 = table.insertRow();
                                          row1.insertCell().innerHTML = "URL: ";
                                          row1.insertCell().innerHTML = item[0];

                                          let row2 = table.insertRow();
                                          row2.insertCell().innerHTML = "User/Repo: ";
                                          row2.insertCell().innerHTML = item[1];

                                          let row3 = table.insertRow();
                                          row3.insertCell().innerHTML = "Monitored?: ";
                                          row3.insertCell().innerHTML = checkIntForTrueOrFalse(item);

                                          let row4 = table.insertRow();
                                          row4.insertCell().innerHTML = "Update Interval: ";
                                          row4.insertCell().innerHTML = 'every ' + item[3] + ' hour(s)';

                                          let row5 = table.insertRow();
                                          row5.insertCell().innerHTML = "Creation Date: ";
                                          row5.insertCell().innerHTML = item[4];

                                          let row6 = table.insertRow();
                                          row6.insertCell().innerHTML = "Delete Repo: "
                                          let cell = row6.insertCell();
                                          cell.innerHTML = "<a id='trash_icon' onclick='confirmGitDelete()' class='pointer'><img style='width: 15px;' src='/static/imgs/trash.png' alt='trash'></a><a id='confirm_delete'></a><a id='cancel_delete' class='pointer' onclick='cancelDelete()' style='display: none;'>cancel</a>";
                                          cell.setAttribute('style', 'display: flex;')
                                          container.appendChild(table);
                                      }
                              }

                            } else {
                              document.getElementById('list').textContent = "Failed to reach API. Retry?";
                              document.getElementById('loader').setAttribute("style", "display: none;");
                            }
                          }
                        }
                    }
                    function checkIntForTrueOrFalse(item) {
                        console.log(item[2])
                        if (item[2] === 0) {
                                          return 'False'
                                      } else {
                                          return 'True'
                                      }
                    }
                    let onoff = false;
                    function displayMonitorInterval(value) {
                        console.log(value)
                        if (onoff) {
                            document.getElementById('monitor_interval').setAttribute('style', '')
                            document.getElementById('monitor_interval_input').setAttribute('style', '')
                            onoff = false;
                        } else {
                            document.getElementById('monitor_interval').setAttribute('style', 'display: none;')
                            document.getElementById('monitor_interval_input').setAttribute('style', 'display: none;')
                            document.getElementById('monitor_interval_input').value = '';
                            onoff = true;
                        }
                    }
                    function confirmGitDelete() {
                        document.getElementById('confirm_delete').innerText = 'Confirm Deletion?';
                        document.getElementById('cancel_delete').setAttribute('style', '')
                        document.getElementById('trash_icon').setAttribute('onclick' ,'gitDelete()');
                    }
                    function cancelDelete() {
                        document.getElementById('confirm_delete').innerText = '';
                        document.getElementById('cancel_delete').setAttribute('style', 'display: none;')
                        document.getElementById('trash_icon').setAttribute('onclick' ,'confirmGitDelete()');
                    }
                    function beginCloneRepoSequence() {
                        cloneGitRepoFormScreen()
                    }
                    function resetGitHome() {
                        document.getElementById('clone').setAttribute("style", "");
                        document.getElementById('list').setAttribute("style", "");
                        document.getElementById('view').setAttribute("style", "");
                        document.getElementById("container").innerHTML = '';
                    }
        </script>
    </div>
{% endblock content %}