{% extends 'administrator/layout.html' %}
{% block title %}Home{% endblock title %}
{% block css %}
.overlaypage {
    margin: 1rem auto;
    width: 35em;
    height: 280px;
    max-width: 95vw;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    border-radius: 15px;
    user-select: none !important;
}
.social {
    border: 1px solid #fff;
    width: 150px;
    padding: 7px 0;
}
.logo {
    margin-bottom: 10px;
    height: 100px;
}
main {
    border: 1px solid white;
    margin-bottom: 5px;
}
.link-list {
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}
.contact {
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
}
#social {
    cursor: pointer;
}
#close {
    cursor: pointer;
    font-size: 30px;
}
.icon {
    width: 100px;
}
{% endblock css %}
{% block h1title %}Administrator Panel Home{% endblock h1title %}
{% block content %}
    <div id="overlay">
        <div class="overlaypage">
            <div class="row">
                <div class="social">
                    <img src="/static/imgs/git.png" alt="github" class="icon" />
                    <a href="/AdministratorArea/Panel?__action__=GitRepositories"><h3>Manage Git Mirrors <span><img style="width: 15px;" src="/static/imgs/external_link.png" alt="external_link"></span></h3></a>
                </div>
                <div class="social">
                    <img src="/static/imgs/files.png" alt="discord" class="icon" />
                    <a href="/AdministratorArea/Panel?__action__=FileMirrors"><h3>Manage File Mirrors <span><img style="width: 15px;" src="/static/imgs/external_link.png" alt="external_link"></span></h3></a>
                </div>
                <div class="social">
                    <img src="/static/imgs/users.png" alt="cursedtwitch" class="icon" />
                    <a href="/AdministratorArea/Panel?__action__=UpdateMonitors"><h3>Manage Update Monitors <span><img style="width: 15px;" src="/static/imgs/external_link.png" alt="external_link"></span></h3></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}