<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/Static/Styles/Base.min.css">
    <link rel="stylesheet" href="/Static/Styles/Core.min.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="page">
        <header style="margin:0;padding:0;">
            <a href="/"><img class="logo" style="height: 50px;" src="https://cfedge-cdn.vee.city/content/KQgCslvqJtiMCkBKQmZp/t2v.ch/img/t2vmirrorservices_minified.png" alt="logo" /></a>
            <div></div>
            <h3 style="vertical-align: middle;display: inline-flex"><img style="vertical-align: middle;width:40px;top: -6px;position: relative;" src="/Static/Images/55px-TodoList.png">{% block h1title %}{% endblock %}</h3>
            {% block extra_header_content %}{% endblock %}
        </header>
        <main style="text-align: justify;">
            <div id="privacy" style="padding: 15px;">
                {% block content %}{% endblock %}
            </div>
        </main>
        <br>
        <footer>
            <p><span><a style="cursor: pointer;" onclick="history.back()"><</a></span> | <span><a href="/">home</a></span> | <span><a style="cursor: pointer;" onclick="history.forward()">></a></span></p>
            <p>Running <a href="https://github.com/t2vee/ArchiveBrowser">ArchiveBrowser</a> - version 0.2.9</p>
            <!--<p>Page Loaded in <span id="pageloadtime">0</span> ms</p>-->
            <p id="performance-metrics">Template: <strong>{{ template_time }}ms</strong> - </p>
        </footer>
    </div>
  <script src="/Static/Scripts/Metrics/LoadTime.js"></script>
</body>
</html>
